/*
COLOUR MEMORY AID:

black #312E34
neon #D8FF00
white  #E5E5E5
*/



/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-size: 8vh;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 100;
  font-style: normal;
  background: #312E34;
}

/* NAV LINKS */
nav {
  font-weight: 600;
  font-style: normal;
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
  margin-left: 5vw;
  margin-top: 5vh;
}

nav a:link {
  color: #E5E5E5;
  padding: 2vh 3vw 4.5vh 3vw;
  margin-right: 5vw;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E5E5E5;
}

nav a:visited {
  color: #E5E5E5;
  border: 1px solid #E5E5E5;
}

nav a:hover {
  color: #312E34;
  background: #D8FF00;
  border: 1px solid #D8FF00;
}

nav a:active {
  color: #312E34;
  background: #D8FF00;
  border: 1px solid #D8FF00;
}

nav a.active {
  color: #312E34;
  background: #D8FF00;
  border: 1px solid #D8FF00;
}

#home {
  font-size: 4vh;
  text-transform: none;
  border: none;
  color: #E5E5E5;
  text-decoration: none;
  border-radius: 0px;
  padding-left: 0;
  padding-top: 2vh;
  padding-right: 45.5vw;
}

#home:hover {
  color: #D8FF00;
  background: #312E34;
  border: none;
}

#backtotop  {
  font-size: 4vh;
  text-transform: none;
  border: none;
  color: #E5E5E5;
  text-decoration: none;
  border-radius: 0px;
  padding-left: 0;
  padding-top: 2vh;
  padding-right: 33vw;
}

#backtotop:hover {
  color: #D8FF00;
  background: #312E34;
  border: none;
}

/* HEADER */
header {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
  color: #E5E5E5;
}

/* OTHER */
h1 {
  font-family: bd-colonius, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #E5E5E5;
  font-size: 39vw;
}

h2 {
  font-size: 8vh;
  line-height: 8vh;
  padding-bottom: 10vh;
}

p {
  line-height: 9vh;
  padding-bottom: 5vh;
}

/* EXERCISES */

section.exercises {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5vh;
}


a {
  text-decoration: none;
}

div.hoverable, div.nonhoverable {
  border: 1px solid #E5E5E5;
  border-radius: 50px;
  height: 75vh;
  width: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E5E5;
  background: #312E34;
  font-style: normal;
  font-weight: 100;
}

/*
COLOUR MEMORY AID:
black #312E34
neon #D8FF00
white  #E5E5E5
*/

div.hoverable {
  font-weight: 600;
}

div.hoverable:hover {
  color: #312E34;
  background: #D8FF00;
  border: 1px solid #312E34;
}

div.nonhoverable {
  text-align: center;
  line-height: 8vh;
}

div a:active {
  color: #312E34;
  background: #D8FF00;
  border: 1px solid #D8FF00;
}

header span, p span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

section.more {
  height: 100vh;
  background-color: #E5E5E5;
}

div {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

p.smaller {
  padding-left: 12vw;
  font-size: 5vh;
}

span.smallest {
  font-size: 3vh;
}

footer {
height: 7vw;
}

.backtotop {
padding-right: 50vw;}
